<!DOCTYPE html>
<html xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <xml>
        <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml>
    <style type="text/css">      v\: * {
            behavior: url(#default#VML);
            display: inline-block;
        }</style>
</head>
<body style="font-family: Verdana, Arial,sans-serif; margin: 0; padding: 0;"><%- content %></body>
</html>