#reset-button {
    background-color: #152E52;
    color: white;
}

.list-group {
    min-height: 450px;
    background-color: #f8f9fa;
    border: 2px #adb5bd;
    border-radius: 5px;
    margin-bottom: 15px;
}

#selected-articles:empty {
    border: 3px dashed #adb5bd;
}

#articles-list .list-group-item {
    cursor: grab;
}

#articles-list .list-group-item:active {
    cursor: grabbing;
}

.btn-group .btn {
    margin-right: 5px;
    height: 38px;
}

.btn-group .btn:last-child {
    margin-right: 0;
}

.list-group-item {
    cursor: grab;
}

.table-fixed thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

.availists, .selectlists {
    height: 200px !important;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.availists::-webkit-scrollbar, .selectlists::-webkit-scrollbar {
    display: none;
}

#savedNewslettersList tr:hover {
    cursor: pointer;
}

.refresh-button {
    padding: 0;
    border: none;
    background: none;
}

.refresh-button img {
    width: 20px;
    height: auto;
    display: block;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-container h3 {
    margin-right: 10px;
}

.dragdrop-list {
    height: 400px;
    overflow-y: auto;
}

.dragdrop-list-short {
    height: 300px;
    overflow-y: auto;
}

/**for all tables**/
.table td {
    border-bottom: 1px solid #adb5bd;
}







