<?xml version="1.0" encoding="UTF-8"?>
<config>
    <help key="Semantyca:_Guideline"/>
    <inlinehelp button="hide"/>
    <fieldset
            name="preferences"
            label="COM_SEMANTYCANM_PREFERENCES_LABEL"
            description="COM_SEMANTYCANM_PREFERENCES_DESCRIPTION"
    >

        <field
                name="itemid_sourcing"
                type="list"
                label="COM_SEMANTYCANM_ITEM_ID_SOURCING_METHOD"
                default="show"
                validate="options"
        >
            <option value="empty">COM_SEMANTYCANM_EMPTY_ITEM</option>
            <option value="smart">COM_SEMANTYCANM_SMART_ITEM</option>
            <option value="custom">COM_SEMANTYCANM_CUSTOM_ITEM</option>
        </field>

        <field
                name="defined_item_id"
                type="number"
                label="COM_SEMANTYCANM_ITEM_ID"
                default="1"
                extension="com_semantycanm"
        />

        <field
                name="retrieval_gap_in_days"
                type="number"
                label="ARTICLE_RETRIEVAL_PERIOD"
                default="365"
                extension="com_semantycanm"
        />

        <field
                name="tinymce_license_key"
                type="password"
                label="TINYMCE_LICENSE_KEY"
                default=""
                extension="com_semantycanm"
        />

        <field
                name="default_banner"
                type="media"
                label="DEFAULT_BANNER"
        />

    </fieldset>

    <fieldset
            name="permissions"
            label="JCONFIG_PERMISSIONS_LABEL"
    >

        <field
                name="rules"
                type="rules"
                label="JCONFIG_PERMISSIONS_LABEL"
                filter="rules"
                validate="rules"
                component="com_installer"
                section="component"
        />

    </fieldset>


</config>
